.renderer__instructionOverlay__gNzPG{
    font-size: 50px;
    line-height: 50px;
    position: absolute;
    top: calc(50vh - 50px);
    text-align: center;
    width: 100vw;
}

.renderer__arrowInstructions__6lUSg{
    font-size: 25px;
    line-height: 25px;
    text-align: right;
    padding-right: 10px;
}

.renderer__canvas__2l-qQ{
    border: 1px solid black;
    margin: auto;
    position: relative;
    display: block;
}

body {
    margin: 0;
    padding: 0;
}
